/* appStyle.scss 
   author: peterm
   created: 2023-07-15
      _    ___  ___  ___  _____ __   __ _     ___ 
     /_\  | _ \| _ \/ __||_   _|\ \ / /| |   | __|
    / _ \ |  _/|  _/\__ \  | |   \ V / | |__ | _| 
   /_/ \_\|_|  |_|  |___/  |_|    |_|  |____||___|
                                                  
*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway&display=swap');

$main-font: 'Raleway', sans-serif;
$title-font: 'Press Start 2P', cursive;
$background-colour: #FFFFFF;
$text-colour: #283618;
$primary-colour: #bc6c25;
$secondary-colour: #fefae0;
$tertiary-colour: #606c38;
$select-colour: #dda15e;
